<div style="float: right;">
  <%= link_to 'add premade item', new_premade_item_path, method: 'get' %>
</div>

<% @items.each do | item | %>
  <%= link_to item.name, premade_item_path( item ), method: 'get' %><br>
<% end %>

