<table class = 'table'>

  <caption id='caption'>
    <%= @branch.name %> Inventory Items
    <hr>
  </caption>
  
  <thead>
    <tr>
      <th>
        Items
        <%= link_to "\u{ 1D11A }".encode( 'utf-8' ), branch_inventories_path( list: true ), method: 'get' %>
      </th>
      
      <th>Stock</th>
    </tr>
  </thead>
  
  <% @branch_items.each do | join | %>
    <% item = InventoryItem.find( join.inventory_item_id ) %>
  
    <tbody>
      <tr>
        <td>
          <%= link_to item.name, edit_branch_inventory_path( join ), method: 'get' %>
        </td>

        <td>
          <%= join.inventory_stock %>
        </td>
      </tr>
    </tbody>
  <% end %>
</table>
