<div>
  <%= link_to 'Products', products_path, method: 'get' %><br>
  <%= link_to 'Inventory Items', inventory_items_path, method: 'get' %><br>
  <%= link_to 'Premade Items', premade_items_path, method: 'get' %><br>
</div>