<div>
  <%= link_to 'Products', branch_products_path, method: 'get' %><br>
  <%= link_to 'Inventory Items', branches_inventory_items_path, method: 'get' %><br>
  <%= link_to 'Premade Items', branches_premade_items_path, method: 'get' %><br>
</div>