<div class="hamburger">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <ul class='nav-menu'>
    <% if user_is_app_manager %>
      <%= render 'layouts/burger_nav_links/app_manager_links' %>
    <% elsif user_is_general_manager %>
      
    <% elsif user_is_store_manager %>
      
    <% elsif user_is_not_admin %>
      
    <% end %>

    
    <%= link_to 'Sign out', destroy_user_session_path, method: 'delete' %>
  </ul>
</div>
